.formContainer {
  max-width: 360px;
  margin: 60px auto 0 auto;
  padding: 140px 16px 100px 16px;

  .title {
    @extend %title;
    margin: 0 auto 50px auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 140px 32px;
  }
}

.inputsGroup,
.radioButtons,
.fileInput {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 380px;
    margin: 0 auto;
  }
}

.inputItem {
  position: relative;
}

.inputItem:not(:last-child) {
  margin-bottom: 50px;
}

.formInputLabel {
  position: absolute;
  top: 14px;
  left: 16px;
  color: $textFormColor;

  &::first-letter {
    text-transform: uppercase;
  }
}

.formInput {
  width: 100%;
  height: 54px;
  padding: 14px 16px;
  @include font(16px, 26px);
  background-color: $backgroundColor;
  border: $formBorderColor solid 1px;
  border-radius: 4px;
}

.formInput:focus + .formInputLabel {
  padding: 2px 4px;
  top: 0;
  transform: translateY(-50%);
  @include font(12px, 14px);
  font-weight: 500;
  background-color: $backgroundColor;
}

.formInput:not(:placeholder-shown) + .formInputLabel {
  padding: 2px 4px;
  top: 0;
  transform: translateY(-50%);
  @include font(12px, 14px);
  font-weight: 500;
  background-color: $backgroundColor;
}

.errorFormInputLabel {
  color: $formErrorColor !important;
}

.inputErrorMessage {
  position: absolute;
  top: 58px;
  left: 16px;
  @include font(12px, 14px);
  color: $formErrorColor;
}

.radioButtons {
  margin: 43px auto 0 auto;
}

.radioButtonsGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.radioButtonItem {
  display: inline-flex;
  align-items: center;
}

.radioButtonItem:not(:last-child) {
  margin-bottom: 7px;
}

.radioButtonInput {
  appearance: none;
  height: 20px;
  width: 20px;
  border: $formBorderColor solid 1px;
  border-radius: 50%;
  margin-right: 12px;
}

.radioButtonInput:checked {
  background-image: url('../../assets/checkedRadioBtn.svg');
  border: none;
}

.fileInput {
  position: relative;
  display: flex;
  margin: 50px auto 50px auto;
}

.fileInput > input {
  @extend %visuallyHidden;
}

.fileInputLabel {
  padding: 14px 15px;
  height: 54px;
  border: $textPrimaryColor solid 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }
}

.textMessageIsFile,
.textMessageNoFile {
  padding: 14px 15px;
  height: 54px;
  width: 100%;
  border: $textFormColor solid 1px;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: $textPrimaryColor;
}

.textMessageNoFile {
  color: $textFormColor;

  &::first-letter {
    text-transform: uppercase;
  }
}

.helperText {
  position: absolute;
  bottom: -18px;
  left: 16px;
  @include font(12px, 14px);
  color: $textFormColor;
}

.errorInput {
  border: $formErrorColor solid 2px;
}

.errorFileInput {
  border-left: none;
}
