$white: #ffffff;

//COLOR PALETTE
$primaryColor: #f4e041;
$secondaryColor: #00bdd3;
$backgroundColor: #f8f8f8;

// BUTTONS

$primaryHoveredColor: #ffe302;
$disabledColor: #b4b4b4;

// FORM FIELDS

$formBorderColor: #d0cfcf;
$formErrorColor: #cb3d40;

// TEXT COLORS

$textPrimaryColor: rgba(0, 0, 0, 0.87);
$textSecondaryColor: rgba(255, 255, 255, 0.87);
$textFormColor: #7e7e7e;
